/* *{
  font-family: montserrat;
} */
.font-size-14{
  font-size: 14px;
}
.font-size-15{
  font-size: 15px;
}
.font-size-18{
  font-size: 18px;
}
.font-size-17{
  font-size: 17px;
}
.font-size-20{
  font-size: 20px;
}
.font-size-30{
  font-size: 30px;
}
.font-weight-400{
  font-weight: 400;
}
.font-weight-500{
  font-weight: 500;
}
.navbar{
  height: 70px;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.16 );

}

.logo{
  width: 48px;
  height: 48px;
}

.footer{
  min-height: 540px;
  background-color: #181818;
  color: #fff;
  padding-right: 2rem;
  padding-left: 2rem;
padding-top: 5rem;
  bottom: 0;
  margin-bottom: 0;
}
.footer-img{
  width: 117px;
  height: 10px;
}

.line{
  border-left: 1px solid #fff;
}
.logo-footer{
  width: 53px;
  height: 53px;
}
.cards{
  filter: drop-shadow(0px 3px 2px #e5edff);
  background-color: #fafbff !important;
  /* z-index: -1; */
  min-height: 419px;
}
.card-body{
  height: 100px;
}
.card-footer{
  background-color: #fff !important;
  border: 0 !important;
}
.app-img{
  width: 143px;
  height: 43px;
  margin-top: 2rem;
}
.underline-text{
  text-decoration: underline;
}
.cards-img{
  /* width: 300px; */
  height: 200px;
  border-radius: 10px 10px 0px 0px;
  
}
.like-img{
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0px;
  font-size: "18px";
  z-index: 1;
  cursor: pointer;
}
.list-icon{
  width: 15px;
  height: 13px;
}
.profile-icon{
  width: 36px;
  height: 36px;
}
.user-info{
  border-radius: 20px;
  background-color: transparent;
}

.dropdown-divider-div{
  display: flex;
  justify-content: center;
}
.dropdown-divider{
  color: 3px solid #f0eeef;
  width: 75%;
}
.ev-sahibi{
  background-image: linear-gradient(to right top, #0268fb, #005bdc, #004fbe, #0043a1, #013784);
  color: #fff !important; 
  border-radius: 0 0 15px 15px;
}
.dropdown-menu:last-child{
  border-radius: 15px;
}
.liked{
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}
.tik-icon{
  width: 21px;
  height: 21px;
}
.dropdown-icon{
  width: 30px;
  height: 30px;
}
@media (max-width: 1040px) {
  .web-version{
    display: none !important;
  }
}
@media (min-width: 1040px) {
  .mobile-version{
    display: none !important;
  }
}
.navbar-menu{
  width: 25px;
  height: 25px;
}
.logo-title{
  color: #484848;
}